name: Release and deploy
on:
  push:
    branches:
      - main # change to main if needed
      - next
jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4

      - name: Use Latest Corepack
        run: |
          echo "Before: corepack version => $(corepack --version || echo 'not installed')"
          npm install -g corepack@latest
          echo "After : corepack version => $(corepack --version)"
          corepack enable

      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
          node-version-file: ".nvmrc"

      - name: Perform checks
        run: |
          yarn install --immutable
          yarn typecheck:ci
          yarn lint:ci
          yarn prettier:ci

      - uses: superfly/flyctl-actions/setup-flyctl@master
        if: ${{ github.ref_name == 'main' }}

      - run: flyctl deploy --strategy bluegreen --remote-only --env SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} --env LIDO_AUTH_TOKEN=${{ secrets.LIDO_AUTH_TOKEN }}  --env RESOLV_AUTH_TOKEN=${{ secrets.RESOLV_AUTH_TOKEN }} --build-target app --dockerfile docker/Dockerfile.flyio --ha=false
        if: ${{ github.ref_name == 'main' }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
